/*
    Default usage : @include button('default');
*/

@use '../variables' as *;
@use 'px-to-rem' as *;

@mixin button($style) {
  @if $style == 'default' {
    @include pointGrid('p x', 4);
    @include pointGrid('p y', 2);
    @include typo('button');
    background-color: $brandColorPrimary;
    display: inline-block;
    transition: color $transition, background-color $transition,
      opacity $transition;

    @include media('large') {
      &:hover:not(:disabled) {
        color: white;
        background-color: $brandColorSecondary;
      }
    }
  } @else if $style == 'default small' {
    @include pointGrid('p x', 2);
    @include pointGrid('p y', 1.5);
    @include typo('button');
    @include fontSize('bodySmall');
    background-color: $brandColorPrimary;
    display: inline-block;
    transition: color $transition, background-color $transition,
      opacity $transition;

    @include media('large') {
      &:hover:not(:disabled) {
        color: white;
        background-color: $brandColorSecondary;
      }
    }
  } @else if $style == 'slider' {
    @include pointGrid('wh', 6);
    @include flex(c);
    background-color: $grayscale1;

    &.prev {
      svg {
        transform: translateX(rem(-2));
      }
    }

    &.next {
      svg {
        transform: translateX(rem(2));
      }
    }

    svg {
      @include icon(40, 40, $black, 1.5);
    }

    @include media('large') {
      &:hover svg {
        @include iconColor($brandColorPrimary);
      }
    }

    @include media('medium') {
      @include pointGrid('wh', 5);
      svg {
        @include pointGrid('wh', 4);
      }
    }

    @include media('small') {
      @include pointGrid('wh', 4);
      svg {
        @include pointGrid('wh', 3);
      }
    }
  } @else if $style == 'slider absolute' {
    @include pointGrid('wh', 6);
    @include flex(c);
    background-color: white;
    transform: translateY(-50%);
    z-index: 7;

    &.prev {
      @include pos(a, 50%, auto, auto, rem(16));
      svg {
        transform: translateX(rem(-2));
      }
    }

    &.next {
      @include pos(a, 50%, rem(16), auto, auto);
      svg {
        transform: translateX(rem(2));
      }
    }

    svg {
      @include icon(40, 40, $black, 1.5);
    }

    @include media('large') {
      &:hover svg {
        @include iconColor($brandColorPrimary);
      }
    }

    @include media('medium') {
      @include pointGrid('wh', 5);
      svg {
        @include pointGrid('wh', 4);
      }
    }

    @include media('small') {
      @include pointGrid('wh', 4);
      &.prev {
        left: rem(8);
      }
      &.next {
        right: rem(8);
      }
      svg {
        @include pointGrid('wh', 3);
      }
    }
  }
}
