/*
    Default usage:
    – @include icon(width, height, color, weight);
    – @include iconColor(color);
*/

@use '../variables' as *;

@mixin icon($width, $height, $color, $weight) {
  width: rem($width);
  height: rem($height);
  fill: none;
  stroke: $color;
  stroke-width: rem($weight);
  stroke-linecap: square;
  stroke-miterlimit: 10;
  transition: all $transition;
}

@mixin iconColor($color) {
  stroke: $color;
}
