/*
    Default
*/

@use '../1-abstracts/mixins' as *;
@use '../1-abstracts/variables' as *;

body {
  @include typo('body');
  text-align: left;
  background: $bodyBg;

  p {
    margin-before: 1em;
    margin-after: 1em;
  }

  a {
    color: $textLinkColor;
    text-decoration: none;
    transition: color $transition;
  }
}

/*::-moz-selection {
        color: white;
        background: black;
        text-shadow: none;
    }*/

/*::selection {
        color: white;
        background: black;
        text-shadow: none;
    }*/

//  Breakpoint: Large (+Hover)

@include media('large') {
  body {
    a:hover {
      color: $textLinkColorHover;
    }

    button:hover,
    input[type='submit']:hover {
      cursor: pointer;
    }
  }
}

//  Breakpoint: XLarge

@include media('xlarge') {
}

//  Breakpoint: Medium

@include media('medium') {
}

//  Breakpoint: Small

@include media('small') {
}
