/*
    Default usage: @include typo('style');
*/

@mixin typo($s) {
  @if ($s == 'p' or $s == 'body') {
    @include font('body');
    @include fontSize('body');
    color: $textColor;
    font-weight: normal;
  } @else if $s == 'paragraph' {
    @extend .listUl;
    @extend .listOl;
    @extend .textLink;

    p:last-of-type {
      margin-bottom: 0;
    }
  } @else if $s == 'h1' {
    @include font('headline');
    @include fontSize('h1');
    color: $brandColorPrimary;
    font-weight: $fwBold;
  } @else if $s == 'h2' {
    @include font('headline');
    @include fontSize('h2');
    color: $brandColorPrimary;
    font-weight: $fwMedium;
  } @else if $s == 'h3' {
    @include font('headline');
    @include fontSize('h3');
    color: $brandColorPrimary;
    font-weight: normal;
  } @else if $s == 'h4' {
    @include font('headline');
    @include fontSize('h4');
    color: $brandColorPrimary;
    font-weight: normal;
  } @else if $s == 'h5' {
    @include font('headline');
    @include fontSize('h5');
    color: $brandColorPrimary;
    font-weight: normal;
  } @else if $s == 'h6' {
    @include font('headline');
    @include fontSize('h6');
    color: $brandColorPrimary;
    font-weight: normal;
  } @else if $s == 'button' {
    @include font('body');
    @include fontSize('body');
    color: white;
    font-weight: bold;
  }
}

// Default : Headlines

h1 {
  @include typo('h1');
  margin: 0 0 0.75em 0;
}
h2 {
  @include typo('h2');
  margin: 0 0 0.75em 0;
}
h3 {
  @include typo('h3');
  margin: 0 0 0.75em 0;
}
h4 {
  @include typo('h4');
  margin: 0 0 0.75em 0;
}
h5 {
  @include typo('h5');
  margin: 0 0 0.75em 0;
}
h6 {
  @include typo('h6');
  margin: 0 0 0.75em 0;
}
