/*
    Usage for headlines: @include font('headline');
    Usage for body text: @include font('body');
 */

@mixin font($family) {
  @if $family == 'body' {
    font-family: $fontBody, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif !important;
  } @else if $family == 'headline' {
    font-family: $fontHeadline, $fontBody, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif !important;
  } @else {
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif !important;
  }
}
