/*
    Default usage:      @include pos('position', top, right, bottom, left);
*/

@mixin pos($type, $top, $right, $bottom, $left) {
  @if ($type == 'absolute') or ($type == a) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }

  @if ($type == 'fixed') or ($type == f) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}
