/*
    Usage : @include contentWidth(type);
*/

@mixin contentWidth($type) {
  @if $type == max {
    @include media('large') {
      margin-left: auto;
      margin-right: auto;
      max-width: rem($gridMaxWidth);
    }

    @media (max-width: rem($gridMaxWidth+80)) {
      @include pointGrid('p x', 4);
    }

    @include media('medium') {
      @include pointGrid('p x', 4);
      width: 100%;
    }

    @include media('small') {
      @include pointGrid('p x', 2);
      width: 100%;
    }
  } @else if $type == full {
    width: 100%;
  }
}
