/*
    Default usage : @include contentSpace('command');
*/

@mixin contentSpace($command, $important: '') {
  // Padding

  @if $command == 'p' {
    @include media('large') {
      padding: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'p x' {
    @include media('large') {
      padding-left: $contentSpaceLarge unquote($important);
      padding-right: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding-left: $contentSpaceXLarge unquote($important);
      padding-right: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding-left: $contentSpaceMedium unquote($important);
      padding-right: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding-left: $contentSpaceSmall unquote($important);
      padding-right: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'p y' {
    @include media('large') {
      padding-top: $contentSpaceLarge unquote($important);
      padding-bottom: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding-top: $contentSpaceXLarge unquote($important);
      padding-bottom: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding-top: $contentSpaceMedium unquote($important);
      padding-bottom: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding-top: $contentSpaceSmall unquote($important);
      padding-bottom: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'p t' {
    @include media('large') {
      padding-top: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding-top: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding-top: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding-top: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'p r' {
    @include media('large') {
      padding-right: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding-right: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding-right: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding-right: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'p b' {
    @include media('large') {
      padding-bottom: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding-bottom: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding-bottom: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding-bottom: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'p l' {
    @include media('large') {
      padding-left: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      padding-left: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      padding-left: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      padding-left: $contentSpaceSmall unquote($important);
    }
  }

  // Margin

  @else if $command == 'm' {
    @include media('large') {
      margin: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'm x' {
    @include media('large') {
      margin-left: $contentSpaceLarge unquote($important);
      margin-right: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin-left: $contentSpaceXLarge unquote($important);
      margin-right: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin-left: $contentSpaceMedium unquote($important);
      margin-right: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin-left: $contentSpaceSmall unquote($important);
      margin-right: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'm y' {
    @include media('large') {
      margin-top: $contentSpaceLarge unquote($important);
      margin-bottom: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin-top: $contentSpaceXLarge unquote($important);
      margin-bottom: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin-top: $contentSpaceMedium unquote($important);
      margin-bottom: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin-top: $contentSpaceSmall unquote($important);
      margin-bottom: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'm t' {
    @include media('large') {
      margin-top: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin-top: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin-top: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin-top: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'm r' {
    @include media('large') {
      margin-right: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin-right: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin-right: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin-right: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'm b' {
    @include media('large') {
      margin-bottom: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin-bottom: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin-bottom: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin-bottom: $contentSpaceSmall unquote($important);
    }
  } @else if $command == 'm l' {
    @include media('large') {
      margin-left: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      margin-left: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      margin-left: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      margin-left: $contentSpaceSmall unquote($important);
    }
  }

  // Specific commands

  @else {
    @include media('large') {
      #{$command}: $contentSpaceLarge unquote($important);
    }
    @include media('xlarge') {
      #{$command}: $contentSpaceXLarge unquote($important);
    }
    @include media('medium') {
      #{$command}: $contentSpaceMedium unquote($important);
    }
    @include media('small') {
      #{$command}: $contentSpaceSmall unquote($important);
    }
  }
}
