/*
    Hamburger Button
*/

//  Default

#hamburger {
  @include pointGrid('wh', 3);
  @include flex(c);
  background-color: transparent;
  overflow: hidden;
}

.hamburger__box {
  @include pointGrid('h', 2);
  @include flex(y);
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  transition: all $transition;
}

.hamburger__box__inner {
  @include size(100%, rem(2));
  background-color: $black;
  display: inline-flex;
  transition: all $transition;

  &:nth-of-type(2) {
    background-color: $black;
  }

  &:nth-of-type(3) {
    background-color: $black;
  }

  .active & {
    background-color: rgba($black, 0.5);

    &:first-of-type {
      transform: translateX(-100%);
    }

    &:last-of-type {
      transform: translateX(100%);
    }
  }
}

//  Breakpoint: Large (+Hover)

@include media('large') {
}

//  Breakpoint: XLarge

@include media('xlarge') {
}

//  Breakpoint: Medium

@include media('medium') {
}

//  Breakpoint: Small

@include media('small') {
}
