/*
    Usage:                      @include flex(type);
*/

@mixin flex($type) {
  display: flex;

  @if $type == c {
    align-items: center;
    justify-content: center;
    text-align: center;
  } @else if $type == y {
    align-items: center;
  } @else if $type == x {
    flex-direction: row;
    flex-wrap: nowrap;
  } @else if $type == xy {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  } @else if $type == col {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
}
