/*
    The magic behind the responsive font-sizes
 

@mixin responsiveTypo($break: 'default', $type: 'body', $map: $responsiveTypo) {
  $firstLevel: map-get($map, $break); // Get Breakpoint
  $secondLevel: map-get($firstLevel, $type); // Get Element

  font-size: map-get($secondLevel, 'fs'); // Get font-size
  line-height: map-get($secondLevel, 'lh'); // Get line-height
}

@mixin fontSize($responsiveTypoSize) {
  @include media('large') {
    @include responsiveTypo('large', '#{$responsiveTypoSize}');
  }
  @include media('medium') {
    @include responsiveTypo('medium', '#{$responsiveTypoSize}');
  }
  @include media('small') {
    @include responsiveTypo('small', '#{$responsiveTypoSize}');
  }
  @include media('xlarge') {
    @include responsiveTypo('xlarge', '#{$responsiveTypoSize}');
  }
}
*/

@mixin fontSize($type) {
  @if ($type == 'body') {
    font-size: $step-0;
    line-height: 1.5;
  } @else if $type == 'h1' {
    font-size: $step-5;
    line-height: 1.2;
  } @else if $type == 'h2' {
    font-size: $step-4;
    line-height: 1.2;
  } @else if $type == 'h3' {
    font-size: $step-3;
    line-height: 1.2;
  } @else if $type == 'h4' {
    font-size: $step-2;
    line-height: 1.2;
  } @else if $type == 'h5' {
    font-size: $step-1;
    line-height: 1.2;
  } @else if $type == 'h6' {
    font-size: $step-1;
    line-height: 1.2;
  }
}
