//  rsce_mod_footer

@use '../1-abstracts/mixins' as *;
@use '../1-abstracts/variables' as *;

#footer {
  @include contentSpaceHalf('p y');
  background-color: $grayscale1;

  .footer {
    @include flex(x);
    justify-content: space-between;
    color: $grayscale6;

    &[data-width='full'] {
      @include contentSpace('p x');
    }

    a {
      color: $grayscale6;
    }

    &__info {
      [data-type='phone'],
      [data-type='googleMaps'] {
        margin-top: 0.75em;
      }
    }

    &__nav nav ul li:not(:last-child) {
      @include pointGrid('p r', 2);
    }

    &__social {
      @include flex(x);

      &__network {
        &:not(:last-child) {
          @include pointGrid('p r', 2);
        }

        &__link {
          @include pointGrid('wh', 2);
          display: block;

          svg {
            @include size(100%);
            display: block;
            fill: $grayscale6;
            transition: fill $transition, transform $transition;
          }
        }
      }
    }
  }
}

//  Breakpoint: Large (+Hover)

@include media('large') {
  #footer .footer {
    a:hover {
      color: $textLinkColorHover;
    }

    &__social__network__link:hover svg {
      fill: $textLinkColorHover;
      transform: scale(1.2);
    }
  }
}

//  Breakpoint: XLarge

@include media('xlarge') {
}

//  Breakpoint: Medium

@include media('medium') {
}

//  Breakpoint: Small

@include media('small') {
  #footer {
    .footer {
      align-items: flex-start;
      flex-direction: column;

      &__nav {
        @include pointGrid('m t', 1);
      }

      &__social {
        @include pointGrid('m t', 2);
      }
    }
  }
}
