//  rsce_mod_header

$iconColor: $grayscale4;
$iconColor--hover: $black;
$textMainColor: $black;
$textSubColor: $grayscale6;
$textColor--hover: $black;
$level2BgColor: white;
$level2BgColorSec: darken($level2BgColor, 5%);
$level3BgColor: darken($level2BgColor, 5%);
$level3BgColorSec: darken($level3BgColor, 5%);
$levelBoxShadow: 0 0 rem(40) 0 rgba(black, 0.2);

#header {
  &[data-fixed='true'] {
    @include pos(f, 0, 0, auto, 0);
    z-index: 10;
  }

  .header {
    @include pointGrid('p y', 2);
    @include flex(y);
    justify-content: space-between;

    &[data-width='full'] {
      @include contentSpace('p x');
    }

    &__logo {
      @include pointGrid('w', 32);
      height: auto;
    }

    &__content {
      &__nav ul {
        li {
          .itemTitle {
            &[data-level='1'] {
              color: $textMainColor;
            }

            &:not([data-level='1']) {
              color: $textSubColor;
              transition: color $transition, background-color $transition;
            }

            &:not([data-level='1']) {
              @include pointGrid('p y', 1);
              @include pointGrid('p l', 2);
              @include pointGrid('p r', 1.25);
            }

            &[data-flex='true'] {
              @include flex(y);

              &:not([data-level='1']) {
                justify-content: space-between;
              }

              [itemprop='icon'] {
                svg {
                  @include icon(24, 24, $iconColor, 2);
                  display: block;
                  transition: all $transition;
                }

                &:not([data-level='1']) svg {
                  @include pointGrid('m l', 3);
                }
              }
            }
          }

          &.submenu {
            position: relative;

            &[data-level='1']:hover .level_2 {
              background-color: red;
            }
          }
        }

        &.level_1 {
          @include flex(x);

          > li:not(:last-child) {
            @include pointGrid('m r', 4);
          }
        }

        &.level_2 {
          @include pos(a, 100%, auto, auto, 0);
          width: auto;
          height: 0;
          white-space: nowrap;
          box-shadow: $levelBoxShadow;
          z-index: 2;
          opacity: 0;
          transform: translateY(rem(16));
          transition: opacity $transition, transform $transition;
          pointer-events: none;

          > li {
            > .itemTitle {
              @include fontSize('headerSubMenu');
              background-color: $level2BgColor;
            }

            &:not(:last-child) {
              border-bottom: rem(1) solid $level2BgColorSec;
            }
          }
        }

        &.level_3 {
          @include pos(a, 0, auto, auto, 100%);
          border-left: rem(1) solid $level3BgColorSec;
          box-shadow: $levelBoxShadow;
          z-index: -1;
          opacity: 0;
          transition: opacity $transition;
          pointer-events: none;

          > li {
            > .itemTitle {
              @include fontSize('headerSubMenu');
              background-color: $level3BgColor;
            }

            &:not(:last-child) {
              border-bottom: rem(1) solid $level3BgColorSec;
            }
          }
        }
      }
    }
  }
}

//  Breakpoint: Large (+Hover)

@include media('large') {
  #header .header__content__nav {
    a.itemTitle:hover {
      color: $textColor--hover !important;
    }

    .level_1,
    .level_2,
    .level_3 {
      .itemTitle:hover > [itemprop='icon'] svg {
        @include iconColor($iconColor--hover);
      }
    }

    .itemTitle:hover {
      &[data-level='2'] {
        background-color: $level2BgColorSec;
      }

      &[data-level='3'] {
        background-color: $level3BgColorSec;
      }
    }

    .level_1 > .submenu:hover {
      .itemTitle[data-level='1'] {
        color: $textColor--hover;

        > [itemprop='icon'] svg {
          @include iconColor($iconColor--hover);
        }
      }

      .level_2 {
        height: auto;
        opacity: 1;
        transform: translateY(0);
        pointer-events: inherit;
      }
    }

    .level_2 > .submenu:hover {
      .itemTitle[data-level='2'] {
        color: $textColor--hover;
        background-color: $level3BgColor;

        > [itemprop='icon'] svg {
          @include iconColor($iconColor--hover);
          transform: rotate(-90deg);
        }
      }

      .level_3 {
        opacity: 1;
        pointer-events: inherit;
      }
    }
  }
}

//  Breakpoint: XLarge

@include media('xlarge') {
}

//  Breakpoint: Medium

@include media('medium') {
  #header {
    .header__content__nav {
      display: none;
    }
  }
}

//  Breakpoint: Small

@include media('small') {
}
